.loader{
    font-size: 48px;
    color: #818181;
    display: inline-block;
    font-weight: 400;
    position: relative;
    
  }
  .loader:after{
    content: '';
    height: 4px;
    width:0%;
    display: block;
    background: #e0b6cb;
    animation: 5s lineGrow linear infinite;
  }
  
  @keyframes lineGrow {to{width: 100%;}}
